@import "../../common/stylus/mixin.styl"
@import "../../common/stylus/base.styl"
.seller
  position absolute
  top 174px
  bottom 0
  left 0
  width 100%
  overflow hidden
  .overview
    padding 18px
    .title
      margin-bottom 8px
      line-height 14px
      color rgb(7, 17, 27)
      font-size 14px
    .desc
      padding-bottom 18px
      font-size 0
      border-1px(rgba(7, 17, 27, 0.1))
      .star
        display inline-block
        vertical-align top
        margin-right 8px
      .text
        display inline-block
        vertical-align top
        margin-right 12px
        line-height 18px
        font-size 10px
        color rgb(77, 85, 93)
    .remark
      display flex
      padding-top 18px
      .block
        flex 1
        text-align center
        border-right 1px solid rgba(7, 17, 27, 0.1)
        &:last-child
          border none
        h2
          margin-bottom 4px
          line-height 10px
          font-size 10px
          color rgb(147, 153, 149)
        .content
          line-height 24px
          font-size 10px
          color rgb(7, 17, 27)
          .stress
            font-size 24px




    .favorite
      position absolute
      right 11px
      top 18px
      width 50px
      text-align center
      .iconfont
        display block
        margin-bottom 4px
        line-height 24px
        font-size 24px
        width 50px
        color #d4d6d9
        &.active
          color rgb(240,20,20)
      .text
        line-height 10px
        font-size 10px
        color rgb(77,85,93)
  .bulletin
    padding 18px 18px 0 18px
    .title
      margin-bottom 8px
      line-height 14px
      color rgb(7, 17, 27)
      font-size 14px
    .content-wrapper
      padding 0 12px 16px 1px
      border-1px(rgba(7, 17, 27, 0.1))
      .content
        line-height 24px
        font-size 12px color rgb(240, 20, 20)
    .supports
      .support-item
        padding 16px 12px
        border-1px(rgba(7, 17, 27, 0.1))
        font-size 0
        &:last-child
          border-none()
        .icon
          display inline-block
          width 16px
          height 16px
          vertical-align top
          margin-right 6px
          background-size 16px 16px
          background-repeat no-repeat
          &.decrease
            bg-image('decrease_4')
          &.discount
            bg-image('discount_4')
          &.guarantee
            bg-image('guarantee_4')
          &.invoice
            bg-image('invoice_4')
          &.special
            bg-image('special_4')
        .text
          display inline-block
          font-size 12px
          line-height 16px
          color rgb(7, 17, 27)
  .pics
    padding 18px
    .title
      margin-bottom 12px
      line-height 14px
      color rgb(7, 17, 27)
      font-size 14px
    .pic-wrapper
      width 100%
      overflow hidden
      white-space nowrap /*不这行*/
      .pic-list
        font-size 0
        .pic-item
          display inline-block
          margin-right 6px
          width 120px
          height 90px
          &:last-child
            margin 0
  .info
    padding 18px 18px 0 18px
    color rgb(7, 17, 27)
    .title
      padding-bottom 12px
      line-height 14px
      border-1px(rgba(7, 17, 27, 0.1))
      font-size 14px
    .info-item
      padding 16px 12px
      line-height 16px
      border-1px(rgba(7, 17, 27, 0.1))
      font-size 12px
      &:last-child
        border-none()

