@import "../../common/stylus/mixin.styl"
.ratingselect
  .rating-type
    padding 18px 0
    margin 0 18px
    border-1px(rgba(7, 17, 27, 0.1))
    font-size 0
    .block
      display inline-block
      padding 8px 12px
      margin-right 8px
      border-radius 1px
      font-size 12px
      color rgb(77, 85, 93)
      &.positive
        background rgba(0, 160, 220, 0.2)
        &.active
          color #ffffff
          background rgb(0, 160, 220)
      &.negative
        background rgba(77, 85, 93, 0.2)
        &.active
          color #ffffff
          background rgb(77, 85, 93)
      .count
        font-size 8px
        margin-left 2px
        line-height 16px
  .switch
    padding 12px 18px
    line-height 24px
    font-size 12px
    color rgb(147, 153, 159)
    border 1px solid rgba(1, 17, 27, 0.1)
    font-size 0
    &.on
      .iconfont
        color #00c850
    .iconfont
      display inline-block
      vertical-align top
      font-size 24px
      margin-right 4px
    .text {
      font-size 12px
    }

