.cartControl
  font-size 0
  .cart-decrease, .cart-add
    display inline-block
    padding 0.04rem 0.06rem 0.06rem 0.06rem
    &.fade-enter-active, &.fade-leave-active {
      transition: all 0.4s linear
    }
    &.fade-enter, &.fade-leave-active {
      opacity: 0
      transform translate3d(0.24rem, 0, 0)
    }
    .inner
      display inline-block
      line-height 0.24rem
      font-size 0.24rem
      vertical-align top
      color rgb(0, 160, 220, 0.2)
      &.inner-enter-active, &.inner-leave-active {
        transition: all 0.4s linear
        transform: rotate(0)
      }
      &.inner-enter, &.inner-leave-active {
        opacity: 0
        transform  rotate(180deg)
      }
  .cart-count
    display inline-block
    font-size 0.1rem
    line-height 0.24rem
    width 0.12rem
    vertical-align top
    padding-top 0.06rem
    text-align center
    color rgb(147, 153, 159)
  .cart-add
    display inline-block
    padding 0.06rem
    line-height 0.24rem
    font-size 0.24rem
    vertical-align top
    color rgb(0, 160, 220, 0.2)


