.cartControl
  font-size 0
  .cart-decrease, .cart-add
    display inline-block
    padding 4px 6px 6px 6px
    &.fade-enter-active, &.fade-leave-active {
      transition: all 0.4s linear
    }
    &.fade-enter, &.fade-leave-active {
      opacity: 0
      transform translate3d(24px, 0, 0)
    }
    .inner
      display inline-block
      line-height 24px
      font-size 24px
      vertical-align top
      color rgb(0, 160, 220, 0.2)
      &.inner-enter-active, &.inner-leave-active {
        transition: all 0.4s linear
        transform: rotate(0)
      }
      &.inner-enter, &.inner-leave-active {
        opacity: 0
        transform  rotate(180deg)
      }
  .cart-count
    display inline-block
    font-size 10px
    line-height 24px
    width 12px
    vertical-align top
    padding-top 6px
    text-align center
    color rgb(147, 153, 159)
  .cart-add
    display inline-block
    padding 6px
    line-height 24px
    font-size 24px
    vertical-align top
    color rgb(0, 160, 220, 0.2)


